[Unit]
Description=Bctl-Agent

[Service]
ExecStart=/bctl-agent-files/start-dev.sh
StandardOutput=file:/var/log/bzero/bctl-agent.log
StandardError=file:/var/log/bzero/bctl-agent.log

[Install]
WantedBy=multi-user.target