<html>
    <head>
        <title>Logout Successful</title>
        <link rel="icon" type="image/png" href="https://app.bastionzero.com/assets/icons/favicon_light.png">
        <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
        <style>
            .center-div {
                text-align: center;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            .text {
                font-family: Fira Sans;
                color: white;
            }
        </style>
    </head>
    <body style="background-color:#242424;">
        <div class="center-div">
            <img src="https://app.bastionzero.com/assets/icons/Wordmark-Horizontal.png" height="28px">
            <br>
            <p class="text">Log out successful. You may close this window.</p>
        </div>
    </body>
</html>